#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center;} /* line-height: 0;*/
#lightbox img{ width: auto; height: auto;}
#lightbox a.lb img{ border: none; }

/*
#lightbox *{
	border:1px solid blue;
}
*/

#outerContentContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; 

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#contentContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#loadingLink{
  display:block;
  height:100%;
  width:100%;
  background:transparent url(../images/loading.gif) 50% 50% no-repeat;
}

#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#hoverNav{
	display:none;
}

#prevLink, #nextLink{ 
	width: 49%; 
	height: 100%; 
	background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ 
	display: block; 
}

#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}

#prevLink:hover, #prevLink:visited:hover { 
	background: url(../images/prevlabel.gif) left 15% no-repeat; 
}

#nextLink:hover, #nextLink:visited:hover { 
	background: url(../images/nextlabel.gif) right 15% no-repeat; 
}

#lbNav{
	width:136px;
	position:absolute;
	top:-32px;
	left:50%;
	
	margin-left:-68px;
	margin-bottom:10px;
	
	background:white;
	z-index:10;
	-webkit-border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topleft: 8px;
-moz-border-radius-topright: 8px;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
}

#lbNav a#lbPrevLink,#lbNav a#lbCloseLink,#lbNav a#lbNextLink{
	display:block;
	height:32px;
	opacity: .5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; // first!
  filter: alpha(opacity=50);  
}

#lbNav a#lbPrevLink{
	background: url(../images/back_alt.png) 0% 50% no-repeat; 
	width:45%;
	width:32px;
	float:left;
	margin-left:10px;
	margin-right:10px;
}

#lbNav a#lbNextLink{
	background: url(../images/forward_alt.png) 100% 50% no-repeat; 
	width:45%;
	width:32px;
	float:left;
	
}

#lbNav a#lbCloseLink{
	background: url(../images/minus.png) 50% 50% no-repeat; 
	width:10%;
	width:32px;
	float:left;
	margin-right:10px;
}

#lbNav a#lbPrevLink:hover,#lbNav a#lbCloseLink:hover,#lbNav a#lbNextLink:hover{
	/*background-color:#eee;*/
	opacity: .99;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)"; // first!
  filter: alpha(opacity=99);  
}

#imageDataContainer{ 
	font: 10px Verdana, Helvetica, sans-serif; 
	background-color: #fff; 
	margin: 0 auto; 
	margin-top:-8px;
	line-height: 1.4em; 
	overflow: auto; 
	width: 90%	; 
	-webkit-border-bottom-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;
}

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ 
	width: 100%; 
	text-align: left; 
	padding-top:8px;
}	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ float:right; }	
#imageData #description{ display: block; clear: left; padding-bottom: 1.0em; padding-top:0.5em;}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }

#lightboxContent{ 
	backround:white;
	text-align:left;
	line-height:auto;
	z-index:11;
	position:relative;
}

#lightboxImage{
	z-index:11;
	position:relative;
}

#lightboxTemp{
	float:left;
	display:none;
}




/*
 * This lets us make sure that the fancy-tab-gutter will always enclose the tabs inside it.
 * We're namspcing it since many frameworks include a .clearfix rule of somesort.
 */

.lb-clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content:"\0020";
     clear: both;
     height: 0;
     }
.lb-clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .lb-clearfix { height: 1%; }
.lb-clearfix { display: block; }
/* close commented backslash hack */
